<div class="container-fluid">
    <div class="header bg-blue-900 py-3 flex">
        <nav class="nav pl-5">
            <h3 class="ui text-2xl text-slate-200 hover:text-slate-300 font-bold cursor-pointer">facebook</h3>
        </nav>
    </div>
</div>